<template>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Category</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form @submit.prevent="save" role="form">
              <div class="card-body">
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Chinese Name</label>
                  <span style="color:red">(*)</span>
                  <input type="text" class="form-control" v-model="NameTW" placeholder="Enter Name" :class="{ 'is-invalid': submitted && $v.NameTW.$error }"/>
                  <div v-if="submitted && !$v.NameTW.required" class="invalid-feedback">Name is required</div>
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">English Name</label>
                  <span style="color:red">(*)</span>
                  <input type="text" class="form-control" v-model="NameEn" placeholder="Enter Name" :class="{ 'is-invalid': submitted && $v.NameEn.$error }"/>
                  <div v-if="submitted && !$v.NameEn.required" class="invalid-feedback">Name is required</div>
                </div>

                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Local Language</label>
                  <span style="color:red">(*)</span>
                  <input type="text" class="form-control" v-model="NameVI" placeholder="Enter Name" :class="{ 'is-invalid': submitted && $v.NameVI.$error }"/>
                  <div v-if="submitted && !$v.NameVI.required" class="invalid-feedback">Name is required</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Code</label>
                  <span style="color:red">(*)</span>
                  <input
                    :class="{ 'is-invalid': submitted && $v.Code.$error }"
                    v-model="Code"
                    type="text"
                    class="form-control"
                    placeholder="Enter Code"
                  />
                  <div v-if="submitted && !$v.Code.required" class="invalid-feedback">Code is required</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleInputEmail1">Level</label>
                  <span style="color:red">(*)</span>
                  <input
                    :class="{ 'is-invalid': submitted && $v.Level.$error }"
                    v-model="Level"
                    type="text"
                    class="form-control"
                    placeholder="Enter Level"
                  />
                  <div v-if="submitted && !$v.Level.required" class="invalid-feedback">Level is required</div>
                </div>
                <div class="form-group">
                  <small
                    style="color:red;font-weight:bold;text-align:center;display:block"
                  >(*) Require fields not to be blank.</small>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button @click="resetForm" type="submit" class="btn btn-danger">Close</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
        </div>
        <!--/.col (left) -->
      </div>
    </div>
</section>
</template>

<script>
import { HTTP } from "../../http-constants";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import VueJwtDecode from "vue-jwt-decode";
export default {
  name: "CreateCategory",
  data() {
    return {
      Name: null,
      NameVI: null,
      NameEn: null,
      NameTW: null,
      Level: 0,
      Code: null,
      submitted: false
    };
  },
  validations: {
    NameVI: { required },
    NameEn: { required },
    NameTW: { required },
    Level: { required },
    Code: { required }
  },
  created() {
    // this.getUnit();
  },
  methods: {
    save() {
      this.submitted = true;
      // stop here if form is invalid
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      } else {
        axios.post("admincategory/add2",{
          NameVI: this.NameVI,
          NameEn: this.NameEn,
          NameTW: this.NameTW,
          Code: this.Code,
          LevelID: this.Level,
          UserID : VueJwtDecode.decode(localStorage.getItem("authToken")).nameid,
        })
        .then(response => {
          this.$router.push("/adminCategory");
          success("success!");
          // console.log()
        })
        .catch(e => {
          console.error(e);
        });
      }
    },
    resetForm() {
      this.$router.go(-1);
    }
  }
};
</script>