<template>
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 mt-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#/home">{{$t('home')}}</a>
            </li>
            <li class="breadcrumb-item active">Category</li>
          </ol>
        </div>
        <div class="col-md-12 my-3">
          <button @click="$router.push(`/adminCategory/create`)" class="btn btn-success float-right">
            <i class="fa fa-plus"></i> {{$t('Add_btn')}}
          </button>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <h3 class="card-title">{{$t('List_Categories')}}</h3>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="input-group">
                      <input v-model="searchname" type="text" class="form-control" placeholder="Search name"/>
                      <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                        <button class="input-group-text btn-success" @click="searchname = ''">Clear</button>
                      </div>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>EngLish Name</th>
                    <th>Chinese Name</th>
                    <th>Local Language Name</th>
                    <th>{{$t('Code')}}</th>
                    <th>{{$t('levelnum')}}</th>
                    <th>Created By</th>
                    <th>{{$t('AddEditDelete')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(cate,key,index) in data" :key="index">
                    <td>{{key+1}}</td>
                    <td>{{cate.Names[2]}}</td>
                    <td>{{cate.Names[1]}}</td>
                    <td>{{ cate.Names[0] || cate.Name }}</td>
                    <td style="text-align: center">{{cate.Code}}</td>
                    <td style="text-align: center">{{cate.LevelID}}</td>
                    <td style="text-align: center">
                      <span class="badge badge-pill badge-danger">{{cate.CreatedBy}}</span>
                    </td>
                    <td style="text-align: center">
                      <div v-if="role == 1" class="btn-group">
                        <div class="btn-group">
                          <button
                            @click="$router.push(`/adminCategory/${cate.ID}/edit`)"
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fa fa-edit"></i> {{$t('Edit')}}
                          </button>

                          <button @click="remove(cate.ID)" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> {{$t('Delete')}}
                          </button>
                        </div>
                      </div>
                      <div v-else-if="cate.UserID == userid" class="btn-group">
                        <div class="btn-group">
                          <button
                            @click="$router.push(`/adminCategory/${cate.ID}/edit`)"
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fa fa-edit"></i> {{$t('Edit')}}
                          </button>

                          <button @click="remove(cate.ID)" class="btn btn-danger btn-sm">
                            <i class="fa fa-trash"></i> {{$t('Delete')}}
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <Paginate
                v-model="page"
                :page-count="totalPage"
                :prev-text="'Prev'"
                :next-text="'Next'"
                :page-range="3"
                :margin-pages="2"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                :click-handler="changePage"
              ></Paginate>
            </div>
          </div>
        </div>
          <!-- /.card -->
      </div>
    </div>
</section>
</template>

<script>
import { HTTP } from "../../http-constants";
import Paginate from "vuejs-paginate";
import VueJwtDecode from "vue-jwt-decode";

export default {
  name: "IndexCategory",
  data() {
    return {
      data: [],
      ID: 0,
      DID: 0,
      totalPage: 0,
      page: 1,
      skip: 0,
      name: " ",
      pageSize: 10,
      searchname: "",
      userid: VueJwtDecode.decode(localStorage.getItem("authToken")).nameid,
      role: null
    };
  },
  components: {
    Paginate
  },
  created() {

    let seft = this;
    seft.LoadData();
    seft.ID = seft.$route.params.id;
    seft.role = localStorage.getItem('Role')
    // console.log(seft.ID);
  },
  watch: {
    searchname: function(newOld, oldVal) {
     
      this.name = newOld;
      this.LoadData();
    }
  },
  methods: {

    LoadData() {
      let seft = this;
      if(seft.name == ''){
        axios.post(`Admincategory/LoadData2/${seft.page}/${seft.pageSize}/${seft.locale}`,{
          headers:{
            Authorization: 'Bearer '+ localStorage.getItem("authToken")
          }
        }).then(res => {
          seft.skip = res.data.skip;
          seft.totalPage = res.data.pageCount;
          seft.page = res.data.page;
          seft.data = res.data.data;
          seft.pageSize = res.data.pageSize;
        });
      }else{
        axios.post(`Admincategory/LoadData/${seft.page}/${seft.pageSize}/${seft.name}/${seft.locale}`,{
          headers:{
            Authorization: 'Bearer '+ localStorage.getItem("authToken")
          }
        }).then(res => {
          seft.skip = res.data.skip;
          seft.totalPage = res.data.pageCount;
          seft.page = res.data.page;
          seft.data = res.data.data;
          seft.pageSize = res.data.pageSize;
        });
      }
    },
    changePage(pageNum) {
      this.LoadData( this.name, pageNum);
    },
    remove(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons
        .fire({
          customClass: {
            confirmButton: "btn btn-success",
            cancelButton: "btn btn-danger"
          },
          buttonsStyling: false,
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, cancel!",
          reverseButtons: true
        })
        .then(result => {
          if (result.value) {
            axios.get(`AdminCategory/delete/${id}`,{
              headers:{
                Authorization: 'Bearer '+ localStorage.getItem("authToken")
              }
            })
              .then(r => {
                this.LoadData();
                $("#RemoveModal").modal("hide");
                // alertify.success("Success");
              })
              .catch(r => {
              });
            swalWithBootstrapButtons.fire(
              "Deleted!",
              "Category has been deleted.",
              "success"
            );
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              "Cancelled",
              "Your imaginary file is safe :)",
              "error"
            );
          }
        });
      // console.log(id);
    }
  }
};
</script>