<template>
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-2">
            <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#/home">{{$t('home')}}</a>
            </li>
            <li class="breadcrumb-item active">KPI Overview</li>
            </ol>
        </div>
      <div class="col-md-12">
        <div class="box boxDataset boxdataset-scrollbar">
          <!-- /.box-header -->

          <div class="box-body ">
            <div class="col-md-12">
              
              <!-- @* Year *@ -->
              <div class="form-inline"  id="searchYear">
                <label class="my-1 mr-2" for="YearOfYear">Year</label>
                <select v-model="year" class="custom-select form-control my-1 mr-sm-2 YearOfYear" id="YearOfYear">
                  <option value="0" selected>Choose...</option>

                  <option v-for="(n, key, index) in 100" :key="index" :value="2000 + n">{{2000 + n}}</option>
                </select>
                <label class="my-1 mr-2" for="startMonth">Period</label>
                <div class="form-group">
                    <ejs-dropdownlist @change="OnchangePeriod()" :value="value" v-model="value" id='dropdownlistPeriod'  placeholder='Select a Period' :allowFiltering='allowFiltering'  :dataSource='dataperiod' :fields='fieldsperiod'></ejs-dropdownlist>
                </div>
                <label class="my-1 mr-2" for="endMonth">Category</label>
                <div class="form-group">
                    <ejs-dropdownlist  @change="OnchangeCategory($event)" :value="valueCategory"  ref='dropdownObjCategory' id='dropdownlist'  placeholder='All Category' :allowFiltering='allowFiltering'  :dataSource='categorymodel' :fields='fields'></ejs-dropdownlist>
                </div>
                <p style="color:transparent">|</p>
                <div class="form-group">
                  <button @click="refresh()"  type="button" class="btn bg-teal  ">
                    <i class="fas fa-sync-alt"></i> Refresh
                  </button>
                </div>
                <p style="color:transparent">|</p>
                <div class="form-group">
                  <button @click="exportTableToExcel('tblDataset2','KPI System Download')" type="button" class="btn bg-teal">
                    <i class="far fa-file-excel"></i> Export
                  </button>
                </div>
              </div>


            </div>
          </div>

         
          <!-- /.box-body -->
          <div class="box-body table-responsive no-padding" id="tblDataset2" >
            <div style="overflow-x:auto;" class="col-md-12">
              <table border="1" >
                <tr>
                  <th>No.</th>
                  <th >KPI</th>
                  <th >OC</th>
                  <th>Year</th>
                  <th>Manager</th>
                  <th>Owner</th>
                  <th>Updater</th>
                  <th>Period</th>
                  <th>Target</th>
                  <th v-for="(item,key,index) in title" :key="index" class="text-center">{{item}}</th>
                </tr>
                <tr v-for="(item,key,index) in data" :key="index" v-if="item.Datasets.length > 0 " >
                  <td>{{key+1}}</td>
                  <td @click="pushTrendView(item)">
                    <span style="text-decoration: none ; cursor:pointer ;color:green" >{{item.KPIName}}</span>
                  </td>
                  <td>{{item.Area}}</td>
                  <td>{{item.Yearly}}</td>
                  <td>{{item.Manager}}</td>
                  <td>{{item.Owner}}</td>
                  <td>{{item.Updater}}</td>
                  <td>{{item.Period}}</td>
                  <td v-if="item.Unit == 'Percentage'" style="background-color: yellow" class="datasetTd text-center active-tdtarget">{{item.Target + '%'}}</td>
                  <td v-else style="background-color: yellow" class="datasetTd text-center active-tdtarget">{{item.Target }}</td>
                    <!-- :class="item2.ValueArray[1] === 'True' ? 'datasetTd text-center active-td2'  : 'datasetTd text-center active-td'" -->
                  <td v-for="(item2,key,index) in item.Datasets" :key="index" 
                    :style="item2.ValueArray[1] === 'True' ? 'background-color: green'  : 'background-color: red' "
                    :class="checktarget(item,item2)"
                    >
                    <span v-if="item.Unit == 'Percentage'"> {{item2.ValueArray[0] == 0 ? "N/A" : item2.ValueArray[0] + '%'}} </span>
                    <span v-else> {{item2.ValueArray[0] == 0 ? "N/A" : item2.ValueArray[0] }} </span>
                  </td>
                  
                </tr>

              </table>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
</template>
<script>
import VueJwtDecode from "vue-jwt-decode";
import Multiselect from "vue-multiselect";
import Vue from "vue";
import { DropDownListPlugin } from "@syncfusion/ej2-vue-dropdowns";
Vue.use(DropDownListPlugin);

export default {
  
  data() {
    return {
      valueCategory: null,
      value: 'm',
      categorymodel: [],
      dataperiod: [
        { text: "Weekly", value: "w" },
        { text: "Monthly", value: "m" },
        { text: "Quaterly", value: "q" },
        { text: "Half Year", value: "h" },
        { text: "Yearly", value: "y" }
      ],
      fields : { text: "Name", value: "ID" },
      fieldsperiod : { text: "text", value: "value" },
      allowFiltering: true,
      periodDefault: "m",
      currentUser: Number(VueJwtDecode.decode(localStorage.getItem("authToken")).nameid),
      data: [],
      totalPage: 0,
      page: 1,
      skip: 0,
      pageSize: 10,
      keyword: ' ',
      data: [],
      data2: [],
      title: [],
      period: "",
      datasets: [],
      categoryname: "",
      kpiname: "",
      KPILevelCode: "",
      searchyear: 0,
      vstart: 0,
      vend: 0,
      start: 1,
      end: 12,
      year: 2020,
      catid: 0,
      datamap:[]
      
    };
  },
  provide: {
  
  },
  watch: {
    data: function(newOld, oldVal) {
    }
  },
  components:{
    // Paginate,
    Multiselect
  },
  mounted(){

  },
  destroyed() {
   
  },
  beforeDestroy: function () {

  },

  created() {
    let seft = this;
    seft.period = seft.$route.params.period;
    seft.vstart = seft.$route.params.start;
    seft.vend = seft.$route.params.end;
    seft.searchyear = seft.$route.params.year
    seft.LoadDataset();
  },
  
  methods: {
    checktarget(item,item2){
      if(item.Status == false) {
        if(item2.ValueArray[1] === 'True'){
          return 'datasetTd text-center active-td2'
        }else{
          return 'datasetTd text-center active-td'
        }
      }else{
        if(item2.ValueArray[1] === 'True'){
          return 'datasetTd text-center active-td'
        }else{
          return 'datasetTd text-center active-td2'
        }
      }
    },
    pushTrendView(item){
      let pr = this.convertPeriodPush(this.periodDefault,true)
      return this.$router.push(`/KPITrendView/${item.KPILevelCode}/${item.CategoryID}/${pr}/2020/1/${this.end}`)
    },
    OnchangePeriod(){
      this.periodDefault = this.value
      if(this.periodDefault == "w"){
        this.start = 1
        this.end = 53
      }
      if(this.periodDefault == "m"){
        this.start = 1
        this.end = 12
      }
      if(this.periodDefault == "h"){
        this.start = 1
        this.end = 2
      }
      if(this.periodDefault == "y"){
        this.start = 2020
        this.end = 2020
      }
      if(this.periodDefault == "q"){
        this.start = 1
        this.end = 4
      }
      this.LoadDataset()
    },
    refresh() {
      this.catid = 0 ;
      this.periodDefault = "m";
      this.value = 'm'
      this.LoadDataset()
    },
    OnchangeCategory(event){
      this.catid = event.value
      this.LoadDataset();
    },

    exportTableToExcel(tableID, filename = ''){
        var downloadLink;
        var dataType = 'application/vnd.ms-excel';
        var tableSelect = document.getElementById(tableID);
        var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');
        
        // Specify file name
        filename = filename?filename+'.xls':'excel_data.xls';
        
        // Create download link element
        downloadLink = document.createElement("a");
        
        document.body.appendChild(downloadLink);
        
        if(navigator.msSaveOrOpenBlob){
            var blob = new Blob(['\ufeff', tableHTML], {
                type: dataType
            });
            navigator.msSaveOrOpenBlob( blob, filename);
        }else{
            // Create a link to the file
            downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
        
            // Setting the file name
            downloadLink.download = filename;
            
            //triggering the function
            downloadLink.click();
        }
    },

    convertPeriodPush(period, status = true) {
      if (status) {
        switch (period) {
          case "m":
            return "M";
          case "w":
            return "W";
          case "q":
            return "Q";
          case "h":
            return "H";
          case "y":
            return "Y";
        }
      } else {
        switch (period) {
          case "M":
            return "Monthly";
          case "W":
            return "Weekly";
          case "Q":
            return "Quarterly";
          case "H":
            return "Half Year";
          case "Y":
            return "Yearly";
        }
      }

      return "N/A";
    },
    
    JSONDateWithTime(dateStr){
      var d = new Date(dateStr);
      var m, day;
      m = d.getMonth() + 1;
      if (m < 10)
          month = '0' + m;
      else
          month = m;
      if (d.getDate() < 10)
          day = '0' + d.getDate();
      else
          day = d.getDate();

      var year = d.getFullYear();
      var formattedDate = day + "/" + month + "/" + year;
      var hours = d.getHours() < 10 ? "0" + d.getHours() : d.getHours();
      var minutes = d.getMinutes() < 10 ? "0" + d.getMinutes() : d.getMinutes();
      var seconds = d.getSeconds();
      var formattedTime = hours + ":" + minutes;
      formattedDate = formattedTime + " - " + formattedDate;

      //Ngày giờ hiện tại
      var dateObj = new Date();
      var dayNow = dateObj.getDate();
      var monthNow = dateObj.getMonth() + 1;
      var yearNow = dateObj.getFullYear();
      var hoursNow = dateObj.getHours();
      var minutesNow = dateObj.getMinutes();
      var secondsNow = dateObj.getSeconds();

      dateObj = formattedDate;

      if (hoursNow - hours === 0 && minutesNow - minutes === 0 && yearNow - year === 0 && monthNow - month === 0 && dayNow - day === 0) {
          if (secondsNow - seconds === 0)
              dateObj = "just recently";
          else if (secondsNow - seconds === 1)
              dateObj = secondsNow - seconds + " second ago";
          else
              dateObj = secondsNow - seconds + " seconds ago";
      }

      if (hoursNow - hours === 0 && minutesNow - minutes > 0 && yearNow - year === 0 && monthNow - month === 0 && dayNow - day === 0) {


          if (minutesNow - minutes === 1)
              dateObj = minutesNow - minutes + " minute ago";
          else
              dateObj = minutesNow - minutes + " minutes ago";
      }

      if (hoursNow - hours > 0 && yearNow - year === 0 && monthNow - month === 0 && dayNow - day === 0) {
          if (hoursNow - hours === 1)
              dateObj = hoursNow - hours + " hour ago";
          else
              dateObj = hoursNow - hours + " hours ago";
      }

      if (yearNow - year === 0 && monthNow - month === 0 && dayNow - day > 0 && dayNow - day <= 7) {
          if (dayNow - day === 1)
              dateObj = dayNow - day + " day ago";
          else
              dateObj = dayNow - day + " days ago";
      }

      if (yearNow - year === 0 && monthNow !== month) {
          day = dayNow - day;
          var month = monthNow - month;
          day = month * 30 + day;
          if (0 < day && day <= 7) {
              dateObj = day + " days ago";
          }

      }

      return dateObj;
    },
    changeyears(event) {
      let newYear = event.target.value
      this.$router.push(`/dataset/${this.$route.params.catid}/${this.period}/${this.vstart}/${this.vend}/${newYear}`)
      this.LoadDataset();
    },
    starts(event){
      let newStart = event.target.value
        //   console.log(newStart)
      this.$router.push(`/dataset/${this.$route.params.catid}/${this.period}/${newStart}/${this.vend}/${this.$route.params.year}`)
      this.LoadDataset();
    },
    ends(event){
      let newEnd = event.target.value
      this.$router.push(`/dataset/${this.$route.params.catid}/${this.period}/${this.vstart}/${newEnd}/${this.$route.params.year}`)
      this.LoadDataset();
    },
    convertPeriod(period, status = true) {
      if (status) {
        switch (period) {
          case "m":
            return "Months In Year";
          case "w":
            return "Weeks In Year";
          case "q":
            return "Quarters In Year";
          case "h":
            return "Halfs In Year";
          case "y":
            return "Years In Year";
        }
      } else {
        switch (period) {
          case "m":
            return "Monthly";
          case "w":
            return "Weekly";
          case "q":
            return "Quarterly";
          case "q":
            return "HalfYear";
          case "y":
            return "Yearly";
        }
      }

      return "N/A";
    },
    validate(){
       var isValid = true;
      if ($('.Title').val().trim() === "") {
        $('.Title').css('border-color', 'Red');
        isValid = false;
      }
      else {
        $('.Title').css('border-color', 'lightgrey');
      }
      //if ($('.Description').val().trim() === "") {
      //    $('.Description').css('border-color', 'Red');
      //    isValid = false;
      //}
      //else {
      //    $('.Description').css('border-color', 'lightgrey');
      //}
      if ($('.DueDate').val().trim() === "") {
        $('.DueDate').css('border-color', 'Red');
        isValid = false;
      }
      else {
        $('.DueDate').css('border-color', 'lightgrey');
      }
      return isValid;
    },
    LoadTitle() {
      let seft = this;
      switch (seft.periodDefault) {
        case "w":
            
            seft.title = seft.data2.map(x => {
              return x.Week;
            });
            break;
        case "m":
            
            seft.title = seft.data2.map(x => {
                return seft.convertNumberMonthToText(x.Week);
            });
            break;
        case "q":
            
            seft.title = seft.data2.map(x => {
                return "Quarter " + x.Week;
            });
            break;
        case "h":
            
            seft.title = seft.data2.map(x => {
                return "Half " + x.Week;
            });
            break;
        case "y":
            
            seft.title = seft.data2.map(x => {
                return "Year " + x.Week;
            });
            break;
      }
    },
    convertNumberMonthToText(period) {
      switch (period) {
        case 1:
          return "Jan";
        case 2:
          return "Feb";
        case 3:
          return "Mar";
        case 4:
          return "Apr";
        case 5:
          return "May";
        case 6:
          return "Jun";
        case 7:
          return "Jul";
        case 8:
          return "Aug";
        case 9:
          return "Sep";
        case 10:
          return "Oct";
        case 11:
          return "Nov";
        case 12:
          return "Dec";
      }
      return "N/A";
    },
    
    LoadDataset() {
      let seft = this;
      axios.get(`Dataset/GetAllKPIOverview/${seft.catid}/${seft.periodDefault}/${seft.start}/${seft.end}/${seft.year}`)
      .then(response => {
        seft.datamap = response.data
        seft.data = response.data.model;
        seft.categorymodel = response.data.categorymodel
        seft.data2 = response.data.listTitle;
        seft.LoadTitle();
      })
    }
  }
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}
</style>