<template>
<section class="content">
    <div class="container-fluid">
      <div class="row" >
        <div class="col-md-12 mt-2">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#/home">{{$t('home')}}</a>
            </li>
            <li class="breadcrumb-item active">KPI</li>
          </ol>
        </div>
        
        <div class="col-md-12 my-3">
          <button @click="$router.push(`/adminKPI/create`)" class="btn btn-success float-right">
            <i class="fa fa-plus"></i> {{$t('Add_btn')}}
          </button>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-4">
                  <h3 class="card-title">List KPIs</h3>
                </div>
                <div class="col-md-4">
                <div class="form-group">

                <div class="input-group">
                <input v-model="searchname" type="text" class="form-control" placeholder="Search name"/>
                  <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                    <button class="input-group-text btn-success" @click="searchname = ''"> <i class="fas fa-remove"></i> Clear</button>
                  </div>
                </div>
              </div>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>EngLish Name</th>
                    <th>Chinese Name</th>
                    <th>Local Language Name</th>
                    <th>{{$t('Code')}}</th>
                    <th>{{$t('Units')}}</th>
                    <th>Created By</th>
                    <th>KPI Scores</th>
                    <th>{{$t('AddEditDelete')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(kpi, key, index) in data" :key="index">
                    <td>{{ key + 1 }}</td>
                    <td>{{kpi.Names[2]}}</td>
                    <td>{{kpi.Names[1]}}</td>
                    <td>{{ kpi.Names[0] || kpi.Name }}</td>
                    <td style="text-align: center">{{ kpi.Code }}</td>
                    <td style="text-align: center">{{ kpi.Unit }}</td>
                    <td style="text-align: center">
                      <span class="badge badge-pill badge-danger">{{kpi.CreatedBy}}</span>
                    </td>
                    <td style="text-align: center">
                      <span v-if="kpi.Status == true" >Lower is better</span>
                      <span v-else >Higher is better</span>
                    </td>
                    
                    <td style="text-align: center" >
                      <div v-if="role == 1" class="btn-group">
                        <div class="btn-group">
                          <button
                            @click="$router.push(`/adminKPI/${kpi.ID}/edit`)"
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fa fa-edit"></i> {{$t('Edit')}}
                          </button>

                          <button
                            @click="remove(kpi.ID)"
                            class="btn btn-danger btn-sm"
                          >
                            <i class="fa fa-trash"></i> {{$t('Delete')}}
                          </button>
                        </div>
                      </div>
                      <div v-else-if="kpi.UserID == userid" class="btn-group">
                        <div class="btn-group">
                          <button
                            @click="$router.push(`/adminKPI/${kpi.ID}/edit`)"
                            class="btn btn-primary btn-sm"
                          >
                            <i class="fa fa-edit"></i> {{$t('Edit')}}
                          </button>

                          <button
                            @click="remove(kpi.ID)"
                            class="btn btn-danger btn-sm"
                          >
                            <i class="fa fa-trash"></i> {{$t('Delete')}}
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer clearfix">
              <Paginate
                v-model="page"
                :page-count="totalPage "
                :prev-text="'Prev'"
                :next-text="'Next'"
                :page-range="3"
                :margin-pages="2"
                :container-class="'pagination'"
                :page-class="'page-item'"
                :prev-class="'page-item'"
                :next-class="'page-item'"
                :page-link-class="'page-link'"
                :prev-link-class="'page-link'"
                :next-link-class="'page-link'"
                :click-handler="changePage"
              ></Paginate>
            </div>
          </div>
        </div>
        
      </div>
    </div>
</section>
</template>

<script>
import { HTTP } from "../../http-constants";
import Paginate from "vuejs-paginate";
import VueJwtDecode from 'vue-jwt-decode'
export default {
  name: "IndexKpi",
  data() {
    return {
      role: null,
      userid: VueJwtDecode.decode(localStorage.getItem("authToken")).nameid,
      data: [],
      ID: 0,
      DID: 0,
      totalPage: 0,
      page: 1,
      pageSize: 10,
      catID: 0,
      name: " ",
      searchname: "",
      locale: $cookies.get("Lang"),
    };
  },
  components: {
    Paginate
  },
  watch: {
    searchname: function(newOld, oldVal) {
      this.name = newOld;
      this.LoadData();
    }
  },
  created() {
    let seft = this;
    seft.LoadData();
    seft.role = localStorage.getItem('Role')
    seft.ID = seft.$route.params.id;
  },
  methods: {
    LoadData() {
      let seft = this
      if(seft.name == ''){
          axios.post(`AdminKPI/LoadData2/${seft.page}/${seft.pageSize}/${seft.locale}`,{
            headers:{
              Authorization: 'Bearer '+ localStorage.getItem("authToken")
            }
          }).then(res => {
            seft.totalPage = res.data.pageCount;
            seft.page = res.data.page;
            seft.data = res.data.data;
            seft.pageSize = res.data.pageSize;
        });
      }
      else{
        axios.post(`AdminKPI/LoadData/${seft.page}/${seft.pageSize}/${seft.name}/${seft.locale}`,{
          headers:{
            Authorization: 'Bearer '+ localStorage.getItem("authToken")
          }
        }).then(res => {
          seft.totalPage = res.data.pageCount;
          seft.page = res.data.page;
          seft.data = res.data.data;
          seft.pageSize = res.data.pageSize;
        });
      }
    },
    changePage(pageNum) {
      this.LoadData(this.name, pageNum);
    },
    remove(id) {
      const swalWithBootstrapButtons = Swal.mixin({
        customClass: {
          confirmButton: "btn btn-success",
          cancelButton: "btn btn-danger"
        },
        buttonsStyling: false
      });

      swalWithBootstrapButtons
        .fire({
          customClass: {
            confirmButton: "btn btn-success",
            cancelButton: "btn btn-danger"
          },
          buttonsStyling: false,
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          cancelButtonText: "No, cancel!",
          reverseButtons: true
        })
        .then(result => {
          if (result.value) {
            axios.get(`AdminKPI/delete/${id}`,{
              headers:{
                Authorization: 'Bearer '+ localStorage.getItem("authToken")
              }
            })
              .then(r => {
                this.LoadData();
                $("#RemoveModal").modal("hide");
                // alertify.success("Success");
              })
              .catch(r => {
               // console.log(r);
              });
            swalWithBootstrapButtons.fire(
              "Deleted!",
              "Your file has been deleted.",
              "success"
            );
          } else if (
            /* Read more about handling dismissals below */
            result.dismiss === Swal.DismissReason.cancel
          ) {
            swalWithBootstrapButtons.fire(
              "Cancelled",
              "Your imaginary file is safe :)",
              "error"
            );
          }
        });
      // console.log(id);
    },
  }
  
};
</script>
